.heading--big {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 88px;
  letter-spacing: -1.44px;
}

.text {
  color: var(--text-subdued-200, #8C9196);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
}

.img-background {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
}

.img-background-2 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: -1.5rem;
  left: 3.26rem;
}

.img-background-3 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: -1.5rem;
  left: 8.4rem;
}

.img-background-4 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: -1.5rem;
  left: 13.8rem;
}

.img-background-5 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 5rem;
  left: 3.26rem;
}

.img-background-6 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 5rem;
  left: 8.26rem;
}

.img-background-7 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 5rem;
  left: 13.8rem;
}

.img-background-8 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 6rem;
  left: -15.5rem;
}

.img-background-9 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 6rem;
  left: -10.5rem;
}

.img-background-10 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 6rem;
  left: -5.3rem;
}

.img-background-11 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 6rem;
  left: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: linear-gradient(top to bottom #fff, #F2F2F2);
}

body {
  font-family: "Montserrat";
}

ul {
  list-style: none;
}

.btn {
  border-radius: 12px;
  text-decoration: none;
  color: #03012C;
}

.btn--white {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 0.5px solid var(--accent-black-600, #CECED2);
  text-transform: uppercase;
}

.btn--green {
  display: inline-flex;
  padding: 17px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  background: var(--accent-turq-100, #71FFD1);
  margin-top: 3.2rem;
}

.card {
  width: 25rem;
  display: inline-flex;
  padding: 5.889px;
  align-items: flex-start;
  border-radius: 11.778px;
  border: 0.368px solid var(--stroke-200, #DADADA);
  background: var(--background-white, #FFF);
}
.card-text {
  margin: 0 1.6rem;
}
.card-text p {
  align-self: stretch;
  text-align: justify;
  color: #202223;
  font-family: Euclid Circular B;
  font-size: 10.306px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.251px;
}
.card-text small {
  color: var(--text-subdued-100, #6D7175);
  font-family: Euclid Circular B;
  font-size: 8.834px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.723px; /* 166.667% */
}

.card-big {
  width: 300px;
  height: 286px;
  border-radius: 8px;
  border: 1px solid #DADADA;
  background: #FFF;
}

.card-body {
  display: flex;
  width: 268px;
  padding: 15.981px 15.981px 21.308px 21.308px;
  margin: 34px 16px 34px 16px;
}
.card-body-content {
  margin-left: 15px;
  align-items: flex-start;
}
.card-body-heading {
  color: #202223;
  font-size: 11.986px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.981px;
}
.card-body-text {
  text-align: justify;
  font-size: 7.99px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.317px;
}
.card-body-list {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card-body-list li {
  font-size: 7.99px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.317px; /* 166.667% */
}

.site__header {
  width: 100%;
  height: 100vh;
  padding: 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 94vh, 0 100%);
  background: rgb(255, 255, 255);
  background: linear-gradient(108deg, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 17%);
  overflow: hidden;
  z-index: 1;
}
.site__header--navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site__header--background {
  width: 1257px;
  height: 1000px;
  flex-shrink: 0;
  border-radius: 1257px;
  background: radial-gradient(50% 50% at 50% 50%, #71FFD1 0%, rgba(113, 255, 209, 0) 100%);
  position: fixed;
  top: 20rem;
  right: -40rem;
}
.site__header--images {
  position: relative;
}
.site__header--images-hero {
  width: 1257px;
  height: 1257px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 3rem;
  left: 65%;
  z-index: 1;
}

.logo__box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__box--image-1 {
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 1.6rem;
}
.logo__box--image-2 {
  width: 16.9rem;
  height: 2.1rem;
}

.site__header--content {
  width: 64rem;
  position: absolute;
  top: 27.4rem;
  left: 13.5rem;
}
.site__header--content p {
  margin-top: 1.6rem;
  text-align: justify;
}

.hero--card-1 {
  position: absolute;
  top: 48.4rem;
  left: -8rem;
  filter: blur(0.7361477017px);
}
.hero--card-2 {
  position: absolute;
  top: 67rem;
  right: 69rem;
  filter: blur(0.9999999404px);
}
.hero--card-3 {
  filter: blur(1.9999998808px);
  position: absolute;
  top: 26.6rem;
  left: -0.6rem;
  z-index: -1;
}

.section__one {
  margin-top: -6rem;
  width: 100%;
  height: 872px;
  flex-shrink: 0;
  position: relative;
  z-index: -1;
}
.section__one .background {
  width: 50%;
  height: 762px;
  flex-shrink: 0;
  border-radius: 702px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(113, 255, 209, 0.4) 0%, rgba(113, 255, 209, 0) 100%);
  z-index: -1;
  position: absolute;
  top: 16rem;
  left: 37rem;
}
.section__one--content {
  position: absolute;
  top: 18rem;
  left: 13.5rem;
}
.section__one--content p {
  width: 70rem;
  font-size: 1.8rem;
}
.section__one--main-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.section__one--main-icon-1 {
  width: 15px;
  height: 20px;
  background: url("../assets/images/Icons/sql.png");
  background-size: contain;
  position: absolute;
  top: 1rem;
  left: 1.2rem;
}
.section__one--main-icon-2 {
  width: 24.375px;
  height: 24.375px;
  background: url("../assets/images/Icons/cloud.png");
  background-size: contain;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}
.section__one--main-icon-3 {
  width: 24.375px;
  height: 24.375px;
  background: url("../assets/images/Icons/lines.png");
  background-size: contain;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}
.section__one--main-icon-4 {
  width: 21.25px;
  height: 21.25px;
  background: url("../assets/images/Icons/twitter.png");
  background-size: contain;
  position: absolute;
  top: 0.9rem;
  left: 0.9rem;
}
.section__one--main-icon-5 {
  width: 21.25px;
  height: 21.25px;
  background: url("../assets/images/Icons/g1.png");
  background-size: contain;
  position: absolute;
  top: 0.9rem;
  left: 0.9rem;
}
.section__one--main-icon-6 {
  width: 24px;
  height: 22px;
  background: url("../assets/images/Icons/segment.png");
  background-size: contain;
  position: absolute;
  top: 0.9rem;
  left: 0.8rem;
}
.section__one--main-icon-7 {
  width: 26px;
  height: 24px;
  background: url("../assets/images/Icons/screenshot.png");
  background-size: contain;
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
}
.section__one--main-icon-8 {
  width: 23px;
  height: 27px;
  background: url("../assets/images/Icons/b.png");
  background-size: contain;
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
}
.section__one--main-icon-9 {
  width: 24px;
  height: 23px;
  background: url("../assets/images/Icons/z.png");
  background-size: contain;
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
}
.section__one--main-icon-10 {
  width: 24px;
  height: 23px;
  background: url("../assets/images/Icons/linkedin.png");
  background-size: contain;
  position: absolute;
  top: 0.7rem;
  left: 0.8rem;
}
.section__one--main-icon-11 {
  width: 22px;
  height: 23px;
  background: url("../assets/images/Icons/s.png");
  background-size: contain;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}
.section__one--main-logo {
  position: absolute;
  top: 1.5rem;
  left: 40.5rem;
}
.section__one--main-logo-to-card {
  position: absolute;
  width: 223.5px;
  height: 17px;
  flex-shrink: 0;
  top: 4.6rem;
  left: 11rem;
  background: url("../assets/images/Vector 108 (Stroke).png");
}
.section__one--main-card {
  position: absolute;
  top: -5rem;
  left: 73rem;
}
.section__one--main-card-heading {
  height: 48px;
  background-color: #E8E8E8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
}
.section__one--main-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section__one--main-card-body-heading {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
