.heading--big {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 88px;
  letter-spacing: -1.44px;
}

.text {
  color: var(--text-subdued-200, #8C9196);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: linear-gradient(top to bottom #fff, #F2F2F2);
  overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

.btn {
  border-radius: 12px;
  text-decoration: none;
  color: #03012C;
}

.btn--white {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 0.5px solid var(--accent-black-600, #CECED2);
  text-transform: uppercase;
}

.btn--green {
  display: inline-flex;
  padding: 17px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  background: var(--accent-turq-100, #71FFD1);
  margin-top: 3.2rem;
}

.card {
  width: 25rem;
  display: inline-flex;
  padding: 5.889px;
  align-items: flex-start;
  border-radius: 11.778px;
  border: 0.368px solid var(--stroke-200, #DADADA);
  background: var(--background-white, #FFF);
}
.card-text {
  margin: 0 1.6rem;
}
.card-text p {
  align-self: stretch;
  text-align: justify;
  color: #202223;
  font-family: Euclid Circular B;
  font-size: 10.306px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.251px;
}
.card-text small {
  color: var(--text-subdued-100, #6D7175);
  font-family: Euclid Circular B;
  font-size: 8.834px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.723px; /* 166.667% */
}

.site__header {
  width: 100%;
  height: 100vh;
  padding: 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 94vh, 0 100%);
  background: rgb(255, 255, 255);
  background: linear-gradient(108deg, rgb(255, 255, 255) 0%, rgb(242, 242, 242) 17%);
  overflow: hidden;
  z-index: 1;
}
.site__header--navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site__header--background {
  width: 1257px;
  height: 1000px;
  flex-shrink: 0;
  border-radius: 1257px;
  background: radial-gradient(50% 50% at 50% 50%, #71FFD1 0%, rgba(113, 255, 209, 0) 100%);
  position: fixed;
  top: 20rem;
  right: -40rem;
}
.site__header--images {
  position: relative;
}
.site__header--images-hero {
  width: 1257px;
  height: 1257px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 3rem;
  left: 65%;
  z-index: 1;
}

.logo__box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__box--image-1 {
  width: 3.8rem;
  height: 3.8rem;
  margin-right: 1.6rem;
}
.logo__box--image-2 {
  width: 16.9rem;
  height: 2.1rem;
}

.site__header--content {
  width: 64rem;
  position: absolute;
  top: 27.4rem;
  left: 13.5rem;
}
.site__header--content p {
  margin-top: 1.6rem;
  text-align: justify;
}

.hero--card-1 {
  position: absolute;
  top: 48.4rem;
  left: -8rem;
  filter: blur(0.7361477017px);
}
.hero--card-2 {
  position: absolute;
  top: 67rem;
  right: 69rem;
  filter: blur(0.9999999404px);
}
.hero--card-3 {
  filter: blur(1.9999998808px);
  position: absolute;
  top: 26.6rem;
  left: -0.6rem;
  z-index: -1;
}

.section__one {
  margin-top: -6rem;
  width: 100%;
  height: 872px;
  flex-shrink: 0;
  position: relative;
  z-index: -1;
}
.section__one .background {
  width: 50%;
  height: 762px;
  flex-shrink: 0;
  border-radius: 702px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(113, 255, 209, 0.4) 0%, rgba(113, 255, 209, 0) 100%);
  z-index: -1;
  position: absolute;
  top: 16rem;
  left: 37rem;
}
.section__one--content {
  position: absolute;
  top: 18rem;
  left: 13.5rem;
}
.section__one--content p {
  width: 70rem;
  font-size: 1.8rem;
}
.section__one--main-icons {
  position: absolute;
  top: 47.4rem;
  left: 28rem;
  z-index: -1;
}
.section__one--main-logo {
  position: absolute;
  top: 48.5rem;
  left: 68rem;
  z-index: 1;
  box-shadow: 0 0 10rem rgba(113, 255, 210, 0.594);
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
