.site__header{
    width: 100%;
    height: 100vh;
    padding: 4rem;
    clip-path: polygon(0 0, 100% 0, 100% 94vh, 0 100%);
    background: rgb(255,255,255);
    background: linear-gradient(108deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 17%);
    overflow: hidden;
    z-index: 1;
    &--navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--background{
        width: 1257px;
        height: 1000px;
        flex-shrink: 0;
        border-radius: 1257px;
        background: radial-gradient(50% 50% at 50% 50%, #71FFD1 0%, rgba(113, 255, 209, 0.00) 100%);
        position: fixed;
        top: 20rem;
        right: -40rem;
    }
    &--images{
        position: relative;
 
        &-hero{
            width: 1257px;
            height: 1257px;
            flex-shrink: 0;
            background-repeat: no-repeat;
            position: absolute;
            top: 3rem;
            left: 65%;
            z-index: 1;
        }
    }
}

.logo__box{
    display: flex;
    align-items: center;
    justify-content: center;
    &--image{
        &-1{
            width: 3.8rem;
            height: 3.8rem;
            margin-right: 1.6rem;
        }

        &-2{
            width: 16.9rem;
            height: 2.1rem;
        }
    }  
}
.site__header--content{
    width: 64rem;
    position: absolute;
    top: 27.4rem;
    left: 13.5rem;
    p{
        margin-top: 1.6rem;
        text-align: justify;
    }
}
.hero{
    &--card-1{
        position: absolute;
        top: 48.4rem;
        left: -8rem;
        filter: blur(0.7361477017402649px);
    }
    &--card-2{
        position: absolute;
        top: 67rem;
        right: 69rem;
        filter: blur(0.9999999403953552px);
    }
   &--card-3{
    filter: blur(1.9999998807907104px);
    position: absolute;
    top: 26.6rem;
        left:-.6rem;
    z-index: -1;
   }
}  
.section__one{
    margin-top: -6rem;
    width: 100%;
    height: 872px;
    flex-shrink: 0;
    position: relative;
    z-index: -1;


    .background{
        width: 50%;
        height: 762px;
        flex-shrink: 0;
        border-radius: 702px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(113, 255, 209, 0.40) 0%, rgba(113, 255, 209, 0.00) 100%);
        z-index: -1;
        position: absolute;
        top: 16rem;
        left: 37rem;
    }
    &--content{
        position: absolute;
        top: 18rem;
        left: 13.5rem;
        p{
            width: 70rem;
            font-size: 1.8rem;
        }
    }
    &--main{


        &-icons{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
        }


        
        &-icon-1{
                width: 15px;
                height: 20px;
                background: url("../assets/images/Icons/sql.png");
                background-size: contain;
                position: absolute;
                top:1rem;
                left:1.2rem;
        }

        &-icon-2{
            width: 24.375px;
            height: 24.375px;
            background: url("../assets/images/Icons/cloud.png");
            background-size: contain;
            position: absolute;
            top:0.8rem;
            left: 0.8rem;
        }

        &-icon-3{
            width: 24.375px;
            height: 24.375px;
            background: url("../assets/images/Icons/lines.png");
            background-size: contain;
            position: absolute;
            top:0.8rem;
            left: 0.8rem;
        }
        &-icon-4{
            width: 21.25px;
            height: 21.25px;
            background: url("../assets/images/Icons/twitter.png");
            background-size: contain;
            position: absolute;
            top:0.9rem;
            left: 0.9rem;
        }
        &-icon-5{
            width: 21.25px;
            height: 21.25px;
            background: url("../assets/images/Icons/g1.png");
            background-size: contain;
            position: absolute;
            top:0.9rem;
            left: 0.9rem;
        }
        &-icon-6{
            width: 24px;
            height: 22px;   
            background: url("../assets/images/Icons/segment.png");
            background-size: contain;
            position: absolute;
            top:0.9rem;
            left: 0.8rem;
        }

        &-icon-7{
            width: 26px;
            height: 24px;   
            background: url("../assets/images/Icons/screenshot.png");
            background-size: contain;
            position: absolute;
            top:0.7rem;
            left: 0.8rem;
        }
        &-icon-8{
            width: 23px;
            height: 27px;   
            background: url("../assets/images/Icons/b.png");
            background-size: contain;
            position: absolute;
            top:0.7rem;
            left: 0.8rem;
        }
        &-icon-9{
            width: 24px;
            height: 23px;
            background: url("../assets/images/Icons/z.png");
            background-size: contain;
            position: absolute;
            top:0.7rem;
            left: 0.8rem;
        }
        &-icon-10{
            width: 24px;
            height: 23px;
            background: url("../assets/images/Icons/linkedin.png");
            background-size: contain;
            position: absolute;
            top:0.7rem;
            left: 0.8rem;
        }
        &-icon-11{
            width: 22px;
            height: 23px;
            background: url("../assets/images/Icons/s.png");
            background-size: contain;
            position: absolute;
            top:0.8rem;
            left: 0.8rem;
        }
        
        &-logo{
            position: absolute;
            top: 1.5rem;
            left: 40.5rem;
        }
        &-logo-to-card{
            position: absolute;
            width: 223.5px;
            height: 17px;
            flex-shrink: 0;
            top: 4.6rem;
            left: 11rem;
            background: url("../assets/images/Vector\ 108\ \(Stroke\).png");
        }
        &-card{
            position: absolute;
            top: -5rem;
            left: 73rem;
            &-heading{
                height: 48px;
                background-color:  #E8E8E8;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1.6rem;
            }
          
            &-body{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                &-heading{
                    width: 100%;
                }
            }
        }
    }
}
