*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background: linear-gradient(top to bottom #fff, #F2F2F2 );
}
body{
    font-family: "Montserrat";
}
ul{
    list-style: none;
}
