.heading--big{
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: -1.44px;
}

.text{
    color: var(--text-subdued-200, #8C9196);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

.img-background{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top:-1.5rem;
    left:-1.7rem;
}
.img-background-2{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top:-1.5rem;
    left: 3.26rem;
}
.img-background-3{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top:-1.5rem;
    left: 8.4rem;
}
.img-background-4{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top:-1.5rem;
    left: 13.8rem;
}
.img-background-5{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top:5rem;
    left: 3.26rem;
}
.img-background-6{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top:5rem;
    left: 8.26rem;
}
.img-background-7{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top:5rem;
    left: 13.8rem;
}
.img-background-8{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 6rem;
    left: -15.5rem;
}
.img-background-9{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 6rem;
    left: -10.5rem;
}

.img-background-10{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 6rem;
    left: -5.3rem;
}
.img-background-11{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 6rem;
    left: 0;
}
// .logo--background{
   
//     width: 142px;
//     height: 142px;
//     background: rgb(113,255,209);
//     background: radial-gradient(circle, rgba(113,255,209,.4) 50%, rgba(255,255,255,.5) 100%);
//     top: -2rem;
//     border-radius: 1000px;
// }
