.heading--big{
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: -1.44px;
}

.text{
    color: var(--text-subdued-200, #8C9196);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}